:root {
    --light: #F8EDE3;
    --medium-light: #DFD3C3;
    --dark-light: #D0B8A8;
    --orange-brown: #C5705D;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: bold;
    padding: 0;
    margin: 0   ;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--dark-light);
}

header {
    grid-column: 1 / 3;
    width: 100%;
    height: 67px;
    text-align: center;
    color: var(--light);
    background-color: var(--orange-brown);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
}

.left-side {
    background: linear-gradient(to right, var(--medium-light), var(--dark-light));
    height: 91.3vh;
}

.left-side img {
    position: absolute;
    top: 82px;
    left: 20px;
    height: 1.3rem;
    fill: #f3d21a;
}

.left-side .add-task {
    background-color: var(--light);
    color: var(--orange-brown);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 53px;
    border: none;
    width: 93%;
    height: 1.9rem;
    margin: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.left-side .add-task:hover {
    /* background-color: var(--dark-light); */
    border: 1px solid var(--orange-brown);
}

.left-side .add-task:active {
    background-color: var(--dark-light);
}

.left-side ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background-color: var(--light);
    margin: 0 10px;
    padding: 10px 20px;
    height: 89%;
    border-radius: 15px;
    list-style: none;
    overflow: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.left-side li {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    color: var(--orange-brown);
    border-bottom: 1px solid var(--orange-brown);
    cursor: pointer;
}

.left-side a {
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-side li:hover {
    background-color: rgba(128, 128, 128, 0.158);
    border-radius: 5px;
}

.left-side .flag {
    position: relative;
    top: 2px;
    left: -5px;
}

.form-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.342);
    height: 100vh;
    width: 100vw;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    height: 300px;
    width: 400px;
    border-radius: 5px;
    background: var(--dark-light);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form input {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
    border:  none;
    height: 1.2rem;
    width: 200px;
    border-radius: 5px;
}

.form .date, .dropdown{
    cursor: pointer;
}

.form button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 50px;
    width: 150px;
    margin: 5px;
    cursor: pointer;
}

.form .addtask {
    border: 1px solid rgb(78, 187, 78);
    color:  var(--orange-brown);
}

.form .addtask:hover {
    background-color: rgb(78, 187, 78);
}